.card-title {
  color: hsl(0, 100%, 50%);
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: normal;
  font-weight: 700;
}


.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  display: inline-block;
  color: #09f;
  top: 40%;
  transform: rotate(180deg);
  left: 0;
}

.arrow svg {
  width: 100%;
  height: 100%;
}

.arrow:hover {
  color: #09f !important;
}

.anchor {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  color: #09f;
}

.anchor svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -16px;
  left: 0;
}

.card {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100%;
  align-self: flex-start;
  position: relative;
  border-radius: 5px;
  padding: 2em 2.2em;
  margin: 1rem 0;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, hsl(0, 100%, 50%), hsl(0, 100%, 40%));
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(80);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.card:hover .anchor {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.card:hover .arrow {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
